@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');


@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

/*======================================
UNIVERSAL CLASSES START
========================================
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #24252A;
}

h1 {
    text-transform: uppercase;
    font-family: "Bebas Neue";
    font-size: 3em;
    color: aliceblue;
    line-height: 0.75em;
    background: -webkit-linear-gradient(120deg, #ff00f7, #00d0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*bron voor het maken van de gradient: https://www.youtube.com/watch?v=OAMTLkZiyJM*/

h2 {
    text-align: center;
    color: white;
    margin-bottom: 1em;
}

h3 {
    margin-bottom: 1em;
}

a {
    color: black;
}

li,
li a,
button {

    font-weight: 500;
    font-size: 1em;
    color: #edf0f1;
    list-style: none;

}

section {
    margin: 5rem 0;
}

/*======================================
UNIVERSAL CLASSES END
========================================
*/


/*======================================
NAVIGATION start
========================================
*/



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 10%;
    flex-wrap: wrap;
}

nav a {

    display: block;
    padding: 1em 2em;
    margin: 1em;
    border: 1px solid;
}

nav li{
     display: inline-block;
}

nav a:hover {
    background-color: #00d0ff;
    transition: 0.2s;
}

nav li a:focus {
    border: 3px solid;
      border-image-source: -webkit-linear-gradient(bottom left, #ff00f7, #00d0ff);
      border-image-source: -o-linear-gradient(bottom left, #ff00f7, #00d0ff);
      border-image-source: linear-gradient(to top right, #ff00f7, #00d0ff);
      border-image-slice: 1;
}

/*
nav a:first-of-type{
    background-color: aliceblue;
}
*/


/*======================================
NAVIGATION END
========================================
*/


/*======================================
HEADER PICTURE START
========================================
*/

.banner-pictures-container {
    text-align: center;
    margin: 2em 0;

}


.banner-pictures-container > img {
    width: 100%;
}

/*======================================
HEADER PICTURE END
========================================
*/


/*======================================
POPULAIRE EVENEMENTEN START
========================================
*/

article {
    background-color: white;
    margin: 1em;
    display: inline-block;
    width: 20em;
/*
    border: 3px solid;
      border-image-source: -webkit-linear-gradient(bottom left, #ff00f7, #00d0ff);
      border-image-source: -o-linear-gradient(bottom left, #ff00f7, #00d0ff);
      border-image-source: linear-gradient(to top right, #ff00f7, #00d0ff);
      border-image-slice: 1;
*/
/*    Bron gradient border: https://alligator.io/css/gradient-borders-pure-css/*/
    
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10%;
}

.flex-container-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10%;
}


@media(min-width: 880px) {
    .flex-container {
        justify-content: space-between;
    }
}



.flex-container img {
    width: 100%;
    margin: 0;
}

.tekst-container {
    background-color: white;
    padding: 1em 2em 2em;
}

.tekst-container > q {
    display: block;
    margin: 1em 0;
    ;
    padding-top: 1em;
    border-top: 1px solid gray;
    font-size: 0.8em;
}

.tekst-container > a {
    padding: 1em;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
}

.tekst-container > a:hover {
    color: white;
    background-color: #ff00f7;
}


.btn-positioner {
    display: flex;
    justify-content: center;
}

.btn {
    color: black;
    background-color: white;
    padding: 1em;
    display: inline-block;
    text-align: center;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.btn:hover {
    background-color: #00d0ff;
}

.btn:focus {
 
}

/*======================================
POPULAIRE EVENEMENTEN END
========================================
*/



/*======================================
UITGELICHT EVENEMENT BEGIN
========================================
*/

/*Grid gemaakt met:
https://www.w3schools.com/cssref/tryit.asp?filename=trycss_grid-template-areas2

https://www.youtube.com/watch?v=moBhzSC455o&t=1904s */



.grid-container-uitgelichte-events {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5, 20% [col-start]);
    grid-template-rows: repeat(3, 10em[col-start]);
    width: 80%;
    margin: auto;
}


.grid-container-uitgelichte-events header{
    grid-column: 1/4;
    grid-row: 1/4;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url(/images/headerImages/toverbos.jpeg);


    /*    bron: Danny de Vries*/
    object-fit: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.grid-container-uitgelichte-events h3 {
    color: white;
    display: block;
    font-size: 3em;
    margin-bottom: 0.5rem;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0.5);

}

.artiest-container {
    grid-column: 4/6;
    grid-row: 1/4;
}

.artiest-container img {
    width: 14vw;
    display: inline-block;
}

.artiest-container > h4 {
    font-size: 2em;
    grid-column: 4/6;
    color: white;
    text-align: center;
}

/*
.grid-container-uitgelichte-events > h4{
    font-size: 5em;
    grid-column: 4/6;
    color: white;
}
*/


/*======================================
UITGELICHT EVENEMENT END
========================================
*/


/*======================================
FORMULIER BEGIN
========================================
*/

footer {
    margin-bottom: 10em;
}

fieldset {
    border: none;
}

legend {
    margin: auto;
}

label,
input {
    display: block;

}


label {
    text-align: left;
    margin-bottom: 0.5em;
    color: white;
}

input {
    width: 40em;
    height: 3em;
    margin-bottom: 1em;
}

input:focus{
    background-color: #00d0ff;
}

form > input{
    width: 20em;
    color: white;
    background-color: #00d0ff;
    margin: 2em auto;
}

form > input:focus{
    background-color: blue;
}

/*======================================
FORMULIER END
========================================
*/



/*======================================
DETAIL PAGINA BEGIN
========================================
*/

.event-header {
    display: inline-flex;
    justify-content: flex-start;
    padding-right: 0;
    width: 100%;
}


.event-header img {
    width: 60%;
    min-width: 400px;
}

header aside h2 {
    font-size: 3rem;
    margin-left: 2rem;
    margin-bottom: 0;
    animation: event 1s ease;
    letter-spacing: -5px;

    /*    animation source: 
    https://www.youtube.com/watch?v=zHUpx90NerM
    https://www.youtube.com/watch?v=gWai7fYp9PY
    */
}

@keyframes event {
    0% {
        letter-spacing: 20px;
        opacity: 0%;
    }

    100% {
        letter-spacing: -10;
        opacity: 100%;
    }
}


/*======================================
DETAIL PAGINA END
========================================
*/


/*======================================
EVENT INFO BEGIN
========================================
*/

#info-tab {
    display: flex;
    justify-content: center;
    align-items: center;

}

#info-tab button {
    padding: 0.5em 1em;
    margin: 0 0.5em;
    cursor: pointer;
    color: darkgray;
    background-color: black;
    border: none;

}

/*Voor javascript*/
/*bron https://www.youtube.com/watch?v=riDzcEQbX6k*/


#info-tab button.active {
    font-size: 1.5rem;
    color: white;
    pointer-events: none;
}

body .hide {
    display: none;
}

.event-detail h4 {
    margin-top: 1em;
}

.event-detail a {
    display: block;
    width: 300px;
}

.artiest-detail {
    display: inline;
}

.event-detail img {
    width: 100%;
}


/*======================================
EVENT INFO END
========================================
*/


/*======================================
COMMENTS BEGIN
========================================
*/


/*======================================
COMMENTS END
========================================
*/
